<!DOCTYPE html>
<html>
<head>
    <title>Add New Shoe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add New Shoe</h1>
    <form action="/shoes" method="post">
        Brand: <input type="text" name="brand"><br>
        Model: <input type="text" name="model"><br>
        Size: <input type="number" name="size"><br>
        <input type="submit" value="Add Shoe">
    </form>
</body>
</html>
